@import './colors';
@import './small';
@import './medium';
@import './large';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;
	overflow: hidden;
}

.windows {
	position: relative;
	display: grid;
	grid-template-columns: repeat(20, 100px);
	grid-template-rows: repeat(20, 100px);
	height: 100vh;
	background-image: url(/img/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	z-index: 1000;

	&__icon {
		grid-row: 1/2;
		grid-column: 1/2;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding-top: 0.1em;
		font-size: 6rem;
		color: #d6d6d6;
		cursor: pointer;

		&:hover {
			background-color: rgba(255, 255, 255, 0.068);
		}
	}

	&__name {
		padding-top: 0.5em;
		font-size: 1.5rem;
		&::selection {
			color: #fff;
		}
	}

	&__footer {
		display: grid;
		grid-template-columns: repeat(50, 50px);
		grid-template-rows: 1fr;
		height: 55px;
		position: absolute;
		bottom: 0;
		left: 0;
		background-color: rgb(20, 20, 20);
		z-index: 1;

		.windows-button {
			grid-column: 1/2;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			color: white;
			transition: background 0.2s, color 0.2s;

			i {
				font-size: 3rem;
			}

			&:hover {
				background: rgba(255, 255, 255, 0.068);
				color: rgb(0, 161, 241);
			}
		}
	}
}
