@import './colors';
@import './small';
@import './medium';
@import './large';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;
	overflow: hidden;
}

.windows {
	position: relative;
	display: grid;
	grid-template-columns: repeat(30, 110px);
	grid-template-rows: repeat(10, 1fr);
	height: 100vh;
	background-image: url(/img/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	z-index: 1000;

	&__footer {
		display: grid;
		grid-template-columns: repeat(50, 50px);
		grid-template-rows: 1fr;
		grid-row: -1;
		grid-column: 1/-1;
		height: 55px;

		background-color: rgb(20, 20, 20);
		z-index: 1;

		.windows-button {
			grid-column: 1/2;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			color: white;
			transition: background 0.2s, color 0.2s;

			i {
				font-size: 3rem;
			}

			&:hover {
				background: rgba(255, 255, 255, 0.068);
				color: rgb(0, 161, 241);
			}
		}
	}

	&__popup {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(8, 1fr);
		grid-row: 6/11;
		grid-column: 1/8;
		transform: translateY(1000px);
		background-color: rgba(32, 32, 32, 0.97);
		transition: transform 0.3s;
		z-index: -1;
		.popup-footer {
			grid-row: 8;
			grid-column: 1/5;
		}
	}

	.active {
		transform: translateY(0);
	}
}
